<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="bastelei_ws" connectionString="metadata=res://*/Models.BasteleiORM.csdl|res://*/Models.BasteleiORM.ssdl|res://*/Models.BasteleiORM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=server3.myadeska.de;user id=bastelei;password=tYQgfpdtskEdCMLozkMf;persistsecurityinfo=True;database=bastelei_ws;allowuservariables=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>